#aside-content > .card-widget.card-info {
    background: linear-gradient(-45deg, var(--anzhiyu-main), #66ccff, #e7e4ec, #6345e9);
    background-size: 400%;
    box-shadow: var(--anzhiyu-shadow-black);
    animation: gradient 15s ease infinite;
    position: relative;
    color: var(--anzhiyu-white);
  }
  .site-data > a .headline,
  .site-data > a .length-num {
    color: var(--anzhiyu-white);
  }